<script>
    function validateForm() {
        var sdt = document.getElementById('PhoneNumber').value.trim();
        var password = document.getElementById('Password').value.trim();

        if (!sdt || !password) {
           /* alert('Vui lòng điền đầy đủ thông tin.');*/

            Swal.fire({
                icon: "error",
                title: "Lỗi đăng nhập...",
                text: "Vui lòng điền đầy đủ thông tin.!",
                /*footer: '<a href="#">Why do I have this issue?</a>'*/
            });
            return false;
        }

        return true;
    }
</script>
@model WebSite_CuaHangDienThoai.Models.tb_Customer
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!--===============================================================================================-->

<!--===============================================================================================-->


<!--===============================================================================================-->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Scripts/Client/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Scripts/Client/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Scripts/Client/vendor/select2/select2.min.css">
<!--===============================================================================================-->

<link href="~/Content/Css/Client/LoginClient.css" rel="stylesheet" />
<!--===============================================================================================-->


<br />
<br />

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">



            <div class="row">
                <div class="col-5"></div>

            </div>

            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/Uploads/images/SanPham/iphone-15-1-4.jpg" @*class="w-100"*@ style="width:80%;height:auto" />
            </div>



            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { onsubmit = " validateForm();" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(true)*@
                <form class="login100-form validate-form">
                    <span class="login100-form-title">
                        <h2>   Đăng nhập</h2>

                    </span>
                    <div>
                        @if (ViewBag.error != null)
                        {
                            <p class="text-danger">
                                @ViewBag.error
                            </p>
                        }
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        @*<input class="input100" type="text" name="email" placeholder="Email">*@
                        @Html.TextBoxFor(m => m.PhoneNumber, "", new { @class = "form-control input100", @placeholder = "Nhập Số Điện Thoại Của Bạn" })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input100", @placeholder = "Mật khẩu" })
                        @*<input class="input100" type="password" name="pass" placeholder="Password" id="password-field">*@
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            ĐĂNG NHẬP
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Bạn quên mật khẩu ?
                        </span>
                        <a class="txt2" href="/khoi-phuc-mat-khau">
                            Khôi phục
                        </a>
                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" href="/dang-ky">
                            Tạo tài khoản
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>


            }




        </div>
    </div>
</div>

<script>
    (function ($) {

        "use strict";

        var fullHeight = function () {

            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function () {
                $('.js-fullheight').css('height', $(window).height());
            });

        };
        fullHeight();

        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

    })(jQuery);

    function togglePasswordVisibility(inputId, buttonId) {
        var passwordInput = document.getElementById(inputId);
        var toggleButton = document.getElementById(buttonId);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleButton.textContent = "Ẩn mật khẩu";
        } else {
            passwordInput.type = "password";
            toggleButton.textContent = "Hiện mật khẩu";
        }
    }




</script>