@model WebSite_CuaHangDienThoai.Models.tb_Customer

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/Css/Client/Profile.css" rel="stylesheet" />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="card overflow-hidden">
        <div class="card-body p-0">
            <img src="https://www.bootdey.com/image/1352x300/FF00FF/000000" alt="" class="img-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4 order-lg-1 order-2">
                    <div class="d-flex align-items-center justify-content-around m-4">
                        <div class="text-center">
                            <i class="fa fa-file fs-6 d-block mb-2"></i>
                            @{
                                var order = Model.tb_Order.Where(x => x.CustomerId == Model.CustomerId).Count();
                                <h4 class="mb-0 fw-semibold lh-1">
                                    @order
                                </h4>
                            }

                            @*<button id="showButton">Hiển thị thẻ</button>*@

                            <div  id="popup"class=" hidden" >

                                <div class="card">
                                    @Html.Action("EditImage", "Account", new { id = Model.CustomerId })
                                </div>
                               
                               
                            </div>
                            @*<div id="popup" class="hidden">

                                @Html.Action("EditImage", "Account", new { id = Model.CustomerId })
                                <p>Đây là thẻ được hiển thị</p>
                                <button id="closeButton">Đóng</button>
                            </div>*@
                            <p class="mb-0 fs-4">Đơn hàng</p>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-check fs-6 d-block mb-2"></i>
                            <h4 class="mb-0 fw-semibold lh-1">2,659</h4>
                            <p class="mb-0 fs-4">Điểm tích lũy</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-n3 order-lg-2 order-1">
                    <div class="mt-n5">
                        @if (Model.Image != null)
                        {
                            <div class="d-flex align-items-center justify-content-center mb-2 thaydoi">


                                <div class="linear-gradient d-flex align-items-center justify-content-center rounded-circle" style="width: 110px; height: 110px;">


                                    <div class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden" style="width: 100px; height: 100px;">
                                        <img src="data:image;base64,@Convert.ToBase64String(Model.Image)" alt="" class="w-100 h-100 thaydoi">
                                    </div>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-items-center justify-content-center mb-2 thaydoi">


                                <div class="linear-gradient d-flex align-items-center justify-content-center rounded-circle" style="width: 110px; height: 110px;">


                                    <div class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden" style="width: 100px; height: 100px;">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="w-100 h-100 thaydoi">
                                    </div>
                                </div>

                            </div>
                        }



                        <div class="text-center">
                            <h5 class="fs-5 mb-0 fw-semibold">@Model.CustomerName</h5>
                            <p class="mb-0 fs-4">Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 order-last">
                    <ul class="list-unstyled d-flex align-items-center justify-content-center justify-content-lg-start my-3 gap-3">
                        <li class="position-relative">
                            <a class="text-white d-flex align-items-center justify-content-center bg-primary p-2 fs-4 rounded-circle" href="javascript:void(0)" width="30" height="30">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="position-relative">
                            <a class="text-white bg-secondary d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle" href="javascript:void(0)">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="position-relative">
                            <a class="text-white bg-secondary d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle" href="javascript:void(0)">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li class="position-relative">
                            <a class="text-white bg-danger d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle" href="javascript:void(0)">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                        <li><button class="btn btn-primary">Add To Story</button></li>
                    </ul>
                </div>
            </div>
            <ul class="nav nav-pills user-profile-tab justify-content-end mt-2 bg-light-info rounded-2" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link position-relative rounded-0 active d-flex align-items-center justify-content-center bg-transparent fs-3 py-6" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true">
                        <i class="fa fa-user me-2 fs-6"></i>
                        <span class="d-none d-md-block">Profile</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-6" id="pills-followers-tab" data-bs-toggle="pill" data-bs-target="#pills-followers" type="button" role="tab" aria-controls="pills-followers" aria-selected="false" tabindex="-1">
                        <i class="fa fa-heart me-2 fs-6"></i>
                        <span class="d-none d-md-block">Followers</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-6" id="pills-friends-tab" data-bs-toggle="pill" data-bs-target="#pills-friends" type="button" role="tab" aria-controls="pills-friends" aria-selected="false" tabindex="-1">
                        <i class="fa fa-users me-2 fs-6"></i>
                        <span class="d-none d-md-block">Friends</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-6" id="pills-gallery-tab" data-bs-toggle="pill" data-bs-target="#pills-gallery" type="button" role="tab" aria-controls="pills-gallery" aria-selected="false" tabindex="-1">
                        <i class="fa fa-photo me-2 fs-6"></i>
                        <span class="d-none d-md-block">Gallery</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Thông tin cá nhân</h3>
            </div>
            <div class="card-body">
                <!-- Nội dung thông tin cá nhân -->
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('newImagePreview');
            var labelAnhCu = document.getElementById('lbAnhCu');
            var lbImagePreview = document.getElementById('lbImagePreview');
            var muiTen = document.getElementById('muiTen');
            output.src = reader.result;
            output.style.display = 'block';
            if (labelAnhCu && muiTen && lbImagePreview) {
                labelAnhCu.style.display = 'block';
                muiTen.style.display = 'block';
                lbImagePreview.style.display = 'block';
            }

        }
        reader.readAsDataURL(event.target.files[0]);
    }
    document.addEventListener("DOMContentLoaded", function () {
        var bg = document.querySelector(".bg-sg");
        var popup = document.getElementById('popup');
        var thaydoi = document.querySelector('.thaydoi');
        var closeButton = document.getElementById('closeButton');
        var btnClose = document.querySelector('.btnClose'); 
        thaydoi.addEventListener('click', function () {
            bg.style.display = "block";
            popup.classList.remove('hidden');
        });

        btnClose.addEventListener('click', function () {
            bg.style.display = "none";
            popup.classList.add('hidden');
        });

        bg.addEventListener("click", function () {
            bg.style.display = "none";
            popup.classList.add('hidden');
        });

        closeButton.addEventListener('click', function () {
            popup.classList.add('hidden');
            bg.style.display = "none";
        });
    });

</script>
