@model WebSite_CuaHangDienThoai.Models.tb_Customer
@{
    ViewBag.Title = "Cập nhập mật khẩu ";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (Model != null)
{
    <div class="container" style="padding-top:50px">
        <div class="row text-center-md text-center-xs d-middle justify-content-start">
            @Html.Action("Partail_UpdatePass", "Account", new { id = Model.CustomerId })
        </div>
    </div>
}
else
{
    <p class="text-danger">Không tồn tại bảng ghi !!!</p>
}



