
@model WebSite_CuaHangDienThoai.Models.tb_Supplier

@if (Model != null)
{
    <div class="card-header">
        <div class="card-title">
            <p>Thông tin nhà cung cấp</p>
        </div>
        <br />
        <h3 class="text-center">@Model.Name</h3>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-2">
                <label for="name" class="col-form-label"><b>Tên:</b></label>
            </div>
            <div class="col-md-6">
                <span class="text-danger">@Model.Name</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="name" class="col-form-label"><b>Địa chỉ:</b></label>
            </div>
            <div class="col-md-6">
                <span class="text-danger">@Model.Location</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="name" class="col-form-label"><b>Điện thoại:</b></label>
            </div>
            <div class="col-md-6">
                <span class="text-danger">@Model.Phone</span>
            </div>
        </div>
       
    </div>
}
else
{
    <p class="text-danger">Không tồn tại bảng ghi nào !!!</p>
}
