
@{
    ViewBag.Title = "Tạo mới phiếu nhập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/productdetail" class="nav-link">Phiếu Nhập</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm mới</a>
        </li>
    </ul>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới Phiếu Nhập</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Phiếu nhập</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>



<section class="content">
    <div class="row">
        <div class="col-6">
            @Html.Action("Partail_ProductDetail", "WareHouseImport")
        </div>
        <div class="col-6 ">


            @Html.Action("Partail_PhieuNhapKho", "WareHouseImport")
        </div>
    </div>

</section>
@section  scripts{
    <script>
        $(document).ready(function () {
            // Khi thay đổi giá trị của dropdown list nhà cung cấp
            $("#listSupplier").change(function () {
                // Lấy ID của nhà cung cấp được chọn
                var idSupplier = $(this).val();

                // Gửi yêu cầu AJAX đến action Partial_Supplier trong controller WareHouseImportController
                $.ajax({
                    url: '/WareHouseImport/Partial_Supplier', // Đường dẫn đến action trong controller
                    type: 'GET', 
                    data: { id: idSupplier }, 
                    success: function (response) {
                        
                        $('#load_data_Supplier').html(response);
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi nếu có
                        console.error("Error: " + status + " - " + error);
                        console.error(xhr.responseText);
                        // Hiển thị thông báo lỗi cho người dùng
                        alert('Đã xảy ra lỗi khi tải thông tin nhà cung cấp: ' + xhr.responseText);
                    }
                });
            });
        });

       
    </script>
    }