<div class="card-block-small">
    <i class="icofont icofont-social-twitter bg-c-yellow card1-icon"></i>
    <span class="text-c-yellow f-w-600">Đơn xuất hôm nay</span>

    @if (ViewBag.Count != null)
    {
        <h4>@ViewBag.Count</h4>
        <div>
            <span class="f-left m-t-10 text-muted">
                <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Đơn xuất
            </span>
        </div>
    }
    else
    {
        <h4>0</h4>
        <div>
            <span class="f-left m-t-10 text-muted">
                <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Đơn xuất
            </span>
        </div>



    }



</div>
