
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Content/lienhe.css" rel="stylesheet" />


<div class="row">
    <div class="col-6">
        <section class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-4 mb-sm-5">
                        <div class="card card-style1 border-0">
                            <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 mb-4 mb-lg-0">

                                        <img src="~/images/imgMe/z5542694752820_8ee9f2791074d8da4b569c6d814a891b.jpg" style="max-width:200px;max-height:200px;" />
                                    </div>
                                    <div class="col-lg-6 px-xl-10">
                                        <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                            <h3 class="h2 text-white mb-0">Huỳnh Gia Thuận </h3>
                                            <span class="text-primary">Quản trị viên </span>
                                        </div>
                                        <ul class="list-unstyled mb-1-9">
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Chức vụ:</span> Quản trị viên</li>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> thuanhuynh941@gmail.com</li>
                                            <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Số điện thoại:</span> 0329867771</li>
                                        </ul>
                                        <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                            <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                            <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                            <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-4 mb-sm-5">
                        <div>
                            <span class="section-title text-primary mb-3 mb-sm-4">Giới thiệu</span>
                            <p>Sinh viên năm cuối TRƯỜNG ĐẠI HỌC CÔNG THƯƠNG TP.HỒ CHÍ MINH</p>
                            <p>
                                Tôi là một người đam mê công nghệ và đặc biệt yêu thích lập trình. Tôi đã bắt đầu khám phá thế giới của lập trình từ khi còn rất trẻ và từ đó đã dành nhiều thời gian học tập và phát triển kỹ năng của mình. Hiện tại, tôi đang chuyên sâu vào lĩnh vực IT, tập trung vào các ngôn ngữ lập trình như Python, JavaScript và C++, cũng như các công nghệ như Machine Learning và Web Development.
                            </p>
                            <p>
                                Trong quá trình học tập và làm việc, tôi luôn cố gắng học hỏi và nâng cao khả năng của mình, từ việc giải quyết các vấn đề cơ bản đến thực hiện các dự án phức tạp hơn. Tôi tin rằng IT không chỉ là một công cụ để giải quyết vấn đề mà còn là một công cụ để sáng tạo và tạo ra những giá trị mới cho xã hội.
                            </p>
                            <p>
                                Ngoài kỹ năng kỹ thuật, tôi cũng rất quan tâm đến việc phát triển các kỹ năng mềm như teamwork, giao tiếp hiệu quả và khả năng tự học. Tôi luôn cố gắng áp dụng những gì tôi học được vào thực tế để đem lại giá trị cao nhất cho dự án và tổ chức mà tôi tham gia.
                            </p>
                            <p>
                                Với sự nhiệt huyết và tinh thần học hỏi không ngừng, tôi hy vọng có thể góp phần vào sự phát triển của ngành công nghệ thông tin, đồng thời luôn cập nhật và áp dụng những công nghệ mới nhất vào công việc của mình.
                            </p>
                            <p>Để nâng cao trình độ, tôi thường xuyên tham gia các khóa học trực tuyến và các sự kiện công nghệ để bắt kịp xu hướng mới nhất của ngành. Tôi mong muốn có cơ hội được đóng góp và học hỏi từ cộng đồng lập trình viên chuyên nghiệp.</p>

                            <p>
                                Cảm ơn bạn đã dành thời gian để đọc về tôi. Rất mong có cơ hội được học hỏi và làm việc cùng với các bạn trong cộng đồng IT.
                            </p>

                            <p>
                                Trân trọng,
                                Huỳnh Gia Thuận
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>
    <div class="col-6">
        <section class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-4 mb-sm-5">
                        <div class="card card-style1 border-0">
                            <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                     
                                        <img src="~/images/imgMe/Duy.png" style="max-width:200px;max-height:200px;" />
                                    </div>
                                    <div class="col-lg-6 px-xl-10">
                                        <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                            <h3 class="h2 text-white mb-0">Ngô Hoài Nhựt Duy </h3>
                                            <span class="text-primary">Quản trị viên </span>
                                        </div>
                                        <ul class="list-unstyled mb-1-9">
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Chức vụ:</span> Quản trị viên</li>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> ngohoainhatduy2002@gmail.com</li>
                                            <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Số điện thoại:</span> 0772644673</li>
                                        </ul>
                                        <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                            <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                            <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                            <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-4 mb-sm-5">
                        <div>
                            <div class="col-lg-12 mb-4 mb-sm-5">
                                <div>
                                    <span class="section-title text-primary mb-3 mb-sm-4">Giới thiệu</span>
                                    <p>Sinh viên năm cuối TRƯỜNG ĐẠI HỌC CÔNG THƯƠNG TP.HỒ CHÍ MINH</p>
                                    <p>Tôi là một người trẻ đam mê công nghệ, đặc biệt là lĩnh vực phát triển phần mềm. Hiện tại, tôi là sinh viên năm cuối tại Trường Đại học Bách khoa Hà Nội, chuyên ngành Khoa học Máy tính.</p>
                                    <p>Bắt đầu từ những dự án nhỏ tự học, tôi đã dần dần trở thành một lập trình viên có kỹ năng đáng kể trong các ngôn ngữ như Python, JavaScript và Java. Tôi đặc biệt quan tâm đến các công nghệ mới như Cloud Computing và AI, và luôn cố gắng cập nhật và áp dụng những kiến thức này vào các dự án thực tế.</p>
                                    <p>Ngoài kỹ năng kỹ thuật, tôi cũng có kỹ năng mềm tốt, bao gồm khả năng làm việc nhóm hiệu quả và giao tiếp thành thạo. Tôi luôn coi việc học hỏi là quan trọng và mong muốn có cơ hội làm việc cùng các chuyên gia giỏi trong ngành để phát triển nghề nghiệp.</p>
                                    <p>Trong suốt quá trình học tập và làm việc, tôi đã có kinh nghiệm thực tiễn qua việc tham gia vào các dự án phần mềm từ thiết kế, phát triển đến triển khai và bảo trì. Điều này giúp tôi rèn luyện khả năng phân tích vấn đề và giải quyết các thách thức một cách hiệu quả.</p>
                                    <p>Để nâng cao trình độ, tôi thường xuyên tham gia các khóa học trực tuyến và các sự kiện công nghệ để bắt kịp xu hướng mới nhất của ngành. Tôi mong muốn có cơ hội được đóng góp và học hỏi từ cộng đồng lập trình viên chuyên nghiệp.</p>
                                    <p>Trân trọng,</p>
                                    <p>Ngô Hoài Nhựt Duy</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>






