@model List<WebSite_CuaHangDienThoai.Models.ProductColorViewModel>
<div class="scrolling_inner">

    <div class="box03 color group desk">
        @if (ViewBag.ProductId != null)
        {

            foreach (var item in Model)
            {
               
                    <button class="btnloadPricebyCapcity" data-id="@item.ProductDetailId">@item.Color</button>
                
            }

        }


    </div>
</div>
<script>
    $('.loadPricebyCapcity').on('click', function () {
        var productId = $(this).data('id');
        alert('Id: ' + productId);
    });
</script>








