@model List<WebSite_CuaHangDienThoai.Models.ProductColorViewModel>
<div class="scrolling_inner">

    <div class="box03 color group desk">
        @if (ViewBag.ProductId != null )
        {

            foreach (var item in Model)
            {
                <a href="/dtdd/iphone-15-pro-max-512gb?code=0131491003841" data-color="1197" data-code="0131491003841" class="box03__item item act ">@item.Color </a>
            }

        }

        @*<a href="/dtdd/iphone-15-pro-max-512gb?code=0131491003839" data-color="1198" data-code="0131491003839" class="box03__item item ">Titan xanh</a>
        <a href="/dtdd/iphone-15-pro-max-512gb?code=0131491003838" data-color="1195" data-code="0131491003838" class="box03__item item ">Titan tự nhiên</a>
        <a href="/dtdd/iphone-15-pro-max-512gb?code=0131491003840" data-color="1196" data-code="0131491003840" class="box03__item item ">Titan trắng</a>*@
    </div>
</div>




