
@model WebSite_CuaHangDienThoai.Models.Admin_TokenFunction
@using (Ajax.BeginForm("Add", "Function", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "load_data",
    OnSuccess = "OnSuccessCO",
    OnFailure = "OnFailure",
    OnBegin = "OnBeginCO"
}, new { @Id = "myForm" }))
{
    <script>

        function validateForm() {
            //var sdt = document.getElementById('Name').value.trim();
            //var tenKhachHang = document.getElementById('SDT').value.trim();
            //var email = document.getElementById('CCCD').value.trim();
            var OrigianlPrice = document.getElementById('OrigianlPrice').value.trim();
            var Price = document.getElementById('Price').value.trim();
            var confirmPassword = document.getElementById('Title').value.trim();


            if (!confirmPassword) {

                Swal.fire({
                    icon: "error",
                    title: "Lỗi tìm...",
                    text: "Vui lòng điền đầy đủ thông tin.",
                    /*footer: '<a href="#">Why do I have this issue?</a>'*/
                });
                return false;

            }

            if (Price < OrigianlPrice) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi giá bán...",
                    text: "Giá bán không hợp lý.",
                    /*footer: '<a href="#">Why do I have this issue?</a>'*/
                });
                return false;
            }


            if (password !== confirmPassword) {

                Swal.fire({
                    icon: "warning",
                    title: "Lỗi tìm...",
                    text: "Mật khẩu và xác nhận mật khẩu không khớp.",
                    /*footer: '<a href="#">Why do I have this issue?</a>'*/
                });
                return false;
                return false;
            }



            return true;
        }


        function OnBeginCO() {
            $('#btnRegister').attr("disabled", "disabled");
        }



        function OnSuccessCO(res) {
            if (res.Success) {
                if (res.Code == 1) {


                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });

                    Toast.fire({
                        icon: "success",
                        title: "Thêm sản phẩm  thành công"
                    });
                    location.href = "/admin/Products/index";

                } else {
                }
            }
            else {
                if (res.Code == -2) {
                    Swal.fire({
                        icon: "error",
                        title: "Không thể bỏ trống...",
                        text: "Vui lòng điền đầy đủ thông tin",
                        footer: '<a href="#">Why do I have this issue?</a>'
                    });

                }
                if (res.Code == -3) {
                    Swal.fire({
                        icon: "warning",
                        title: "Chức năng đã tồn tại...",
                        text: "Dữ liệu này đã có bảng ghi",
                        /*footer: '<a href="#">Bạn có muốn cập nhật lại số lượng?</a>'*/
                    });
                }
                if (res.Code == -4) {
                    Swal.fire({
                        icon: "question",
                        title: "Lỗi thêm nhân viên...",
                        text: "Không thấy chức năng cho nhân viên mới ",
                        footer: '<a href="#">Why do I have this issue?</a>'
                    });

                }
                if (res.Code == -5) {
                    Swal.fire({
                        icon: "info",
                        title: "Lỗi tìm...",
                        text: "Mã hàng được trả về ",
                        footer: '<a href="#">Why do I have this issue?</a>'
                    });
                }
                if (res.Code == -6) {
                    Swal.fire({
                        icon: "warning",
                        title: "Lỗi tìm...",
                        text: "Đơn hàng lập lại 2 lần ",
                        footer: '<a href="#">Why do I have this issue?</a>'
                    });
                }
            }

        }







    </script>


    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm mới Sản phẩm</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 ">
                    @using (Html.BeginForm("Add", "Function", FormMethod.Post, new { }))
                    {

                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                    @*<li class="nav-item"><a class="nav-link" href="#infor" data-toggle="tab">Thông số kỹ thuật</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>

                                        <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">SEO</a></li>*@
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tên chức năng</label>

                                            <input type="text" name="Name" id="Name" required class="form-control" autocomplete="off" placeholder="Tên chức năng" />
                                            @*@Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tên sản phẩm" })*@
                                            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                                        </div>



                                    </div>
                                    <!-- /.tab-pane -->
                                    <!-- /.tab-pane infor -->
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                            <div class="form-group">





                                @*<button type="submit" class="btn btn-success" data-id="">Thêm mới</button>*@
                                <button type="submit" class="btn btn-success">Thêm mới</button>
                            </div>
                        </div> <!-- /.card -->
                    }
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>






}
