@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    .error {
        color: red;
    }
</style>

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">

<!-- Space for styling -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-lg-12 loadListProCheckOut">
            @Html.Action("Partial_ChiTietSanPhamMua", "ShoppingCart")
        </div>
        <div class="col-lg-12" style="padding-top:8px">
            <div class="card shadow-0 border">
                <div class="card-body">
                    @Html.Action("Partial_CheckOut", "ShoppingCart")
                </div>
            </div>
            <br />
            <div class="card shadow-0 border">
                <div class="card-header">
                    <h5 style="font-size: 14px;">Hỗ trợ</h5>
                </div>
                <div class="card-body">
                    <h3 style="font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit;">
                        <i class="fa fa-phone"></i>0329867771
                    </h3>
                    <span class="small">
                        Vui lòng liên hệ với chúng tôi nếu bạn có bất kỳ câu hỏi nào. Chúng tôi có sẵn 24h.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script src="~/Scripts/JsShoppingCart.js"></script>
    <script>
        function OnFailure(rs) {
            if (!rs.Success) {
                $('#show_success').html("Bạn mua hàng thất bại! Xin vui lòng thử lại");
            }
        }

        $(document).ready(function () {
            $('.TypePaymentVN').on('change', function () {
                if ($(this).prop('checked')) {
                    $('.TypePaymentVN').not(this).prop('checked', false);
                }
            });

            $('body').on('change', '#drTypePayment', function () {
                var type = $(this).val();
                $('#load_form_payment').hide();
                if (type == "2") {
                    $('#load_form_payment').show();
                }
            });
            $("#searchString").on("input", function () {
                var inputValue = $(this).val().trim();
                if (inputValue !== "") {
                    searchProduct(inputValue);
                }
            });

            // Hàm để gửi yêu cầu kiểm tra mã giảm giá khi người dùng nhấn nút "Áp dụng"
            function applyVoucher() {
                var voucherCode = $("#voucherCode").val(); // Lấy mã giảm giá từ trường nhập

                // Kiểm tra nếu mã giảm giá không trống
                if (voucherCode.trim() !== "") {
                    $.ajax({
                        url: '/ShoppingCart/GetVoucher',
                        type: 'GET',
                        dataType: 'json',
                        data: { Code: voucherCode },
                        success: function (voucher) {
                            // Kiểm tra nếu có mã giảm giá trả về từ server
                            if (voucher.length > 0) {
                                // Thực thi hàm hiển thị thông tin mã giảm giá
                                showVoucherInfo(voucher[0].Title);
                            } else {
                                $(".loadVoucher").html("<p>Không tìm thấy mã giảm giá</p>");
                            }
                        },
                        error: function () {
                            console.log("Lỗi khi gửi yêu cầu kiểm tra mã giảm giá.");
                        }
                    });
                }
            }

            // Hàm hiển thị thông tin mã giảm giá
            function showVoucherInfo(title) {
                var voucherInfo = "<p>Mã giảm giá: " + title + "</p>"; // Hiển thị tiêu đề của mã giảm giá
                // Nếu cần hiển thị các thông tin khác về mã giảm giá, bạn có thể thêm vào đây
                $(".loadVoucher").html(voucherInfo); // Hiển thị thông tin mã giảm giá trong phần tử loadVoucher
            }

            // Gắn sự kiện submit cho form chứa trường nhập mã giảm giá
            $("#voucherForm").submit(function (event) {
                event.preventDefault(); // Ngăn chặn form gửi đi

                applyVoucher(); // Gọi hàm để kiểm tra mã giảm giá
            });

            // Đảm bảo rằng khi người dùng nhấn Enter trong trường nhập mã giảm giá, form không gửi đi
            $("#voucherCode").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    applyVoucher();
                    return false;
                }
            });

        });

    </script>
}
