 <div class="card-body">
    <form id="voucherForm" action="/ControllerName/CheckVoucher" method="post">
         <div class="form-group">
             <label class="form-label"> Bạn có mã giảm giá ?</label>
             <div class="input-group">
                 <input type="text" class="form-control border"name="voucherCode" id="voucherCode" placeholder="Mã giảm giá" />
                 <button class="btn btn-light border">Áp dụng</button>
             </div>
         </div>
     </form>
     <div class="loadVoucher">
         <p>Thun</p>
     </div>
 </div>
