@model WebSite_CuaHangDienThoai.Models.OrderViewVNPay
@using (Ajax.BeginForm("CheckOut", "ShoppingCart", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "load_data",
    OnSuccess = "OnSuccessCO",
    OnFailure = "OnFailure",
    OnBegin = "OnBeginCO"

}, new { @Id = "myForm" }))
{
    <script>
        function OnBeginCO() {
            $('#btnCheckOut').attr("disabled", "disabled");
            $('#load_send').html('<h2>Đang gửi....</h2>');
        }
        function OnSuccessCO(res) {
            if (res.Success) {
                if (res.Code == 1) {
                    location.href = "/testCart/Muahangthanhcong123";

                }
                else {
                    location.href = res.Url;
                }
            }
            else {
                if (res.Code == -1) {
                    Swal.fire({
                        icon: "error",
                        title: "Không thể bỏ trống...",
                        text: "Vui lòng điền đầy đủ thông tin",

                    });
                    $('#btnCheckOut').prop("disabled", false);
                    $('#load_send').css("display", "none");


                }
                if (res.Code == -2) {
                    // Chuỗi thông báo mặc định
                    var message = "Số lượng không đủ...\n";

                    // Hiển thị danh sách sản phẩm không đủ số lượng (nếu có)
                    var insufficientItems = res.InsufficientItems;
                    if (insufficientItems && insufficientItems.length > 0) {
                        message += "Các sản phẩm sau không đủ số lượng:\n";
                        insufficientItems.forEach(function (item) {
                            message += item.ProductName + "\n"; // Thay .ProductName bằng thuộc tính tên sản phẩm trong đối tượng ShoppingCartItem
                        });
                    }

                    // Hiển thị cảnh báo về số lượng không đủ hoặc hết hàng
                    Swal.fire({
                        icon: "warning",
                        title: "Số lượng không đủ",
                        text: message
                    });

                    // Thực hiện các hành động khác sau khi nhận phản hồi
                    $('#btnCheckOut').prop("disabled", false);
                    $('#load_send').css("display", "none");
                }

                if (res.Code == -3) {
                    Swal.fire({
                        icon: "warning",
                        title: "Lỗi hệ thống..",
                        text: "Tài khoản tạm ngừng",

                    });
                    $('#btnCheckOut').prop("disabled", false);
                    $('#load_send').css("display", "none");


                }
                if (res.Code == -4) {
                    Swal.fire({
                        icon: "warning",
                        title: "Lỗi hệ thống..",
                        text: "Dữ liệu không hợp lệ",

                    });
                    $('#btnCheckOut').prop("disabled", false);
                    $('#load_send').css("display", "none");


                }
                if (res.Code == -5) {
                    Swal.fire({
                        icon: "warning",
                        title: "Lỗi hệ thống..",
                        text: "Hệ thống đang bảo trì",

                    });
                    $('#btnCheckOut').prop("disabled", false);
                    $('#load_send').css("display", "none");


                }

            }
        }
    </script>




    <div class="card mb-3 border shadow-0" id="partialVoucherContainer">

        @Html.Action("Partial_Voucher", "ShoppingCart")
    </div>
    <hr />

    <div class="loadPice">
        @Html.Action("Partial_TotalPriceCheckOut", "ShoppingCart")
    </div>








    <hr />
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Hình thức thanh toán</label>
        <select class="form-control" id="drTypePayment" name="TypePayment">
            <option value="1" selected>COD</option>
            <option value="2" id="chuyenkhoan">Chuyển khoản</option>

        </select>
    </div>
    <div class="form-group" id="load_form_payment" style="display:none;">
        <h4> <label>Chọn phương thức thanh toán:</label><br /></h4>
        <h5>Cách 1: Chuyển hướng sang VNPAY chọn phương thức thanh toán</h5>
        <label>

            <input type="checkbox" class="TypePaymentVN" name="TypePaymentVN" value="0" checked /><img src="~/images/Logo/Logo-VNPAY-QR-1.png" style=" width:80px;height:15px" /> Cổng thanh toán VNPAYQR

        </label>
        <h5>Cách 2: Tách phương thức thanh toán tại site của Merchant</h5>
        <label><input type="checkbox" class="TypePaymentVN" name="TypePaymentVN" value="1" /> Thanh toán qua ứng dụng hỗ trợ VNPAYQR </label><br />
        <label><input type="checkbox" class="TypePaymentVN" name="TypePaymentVN" value="2" /> ATM-Tài khoản ngân hàng nội địa </label><br />
        <label><input type="checkbox" class="TypePaymentVN" name="TypePaymentVN" value="3" /> Thanh toán qua thẻ quốc tế </label><br />
    </div>

    <div class="form-group" id="load_send"></div>
    <div class="form-group" style="padding-top:10px">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <div class="form-group">

                    <button type="submit" class="btn btn-success btn-checkout col-8" id="btnCheckOut" >Đặt hàng</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>



    </div>

}



