@model WebSite_CuaHangDienThoai.Models.tb_ProductCategory

@{
    ViewBag.Title = "Thêm Loại Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/news" class="nav-link">danh mục sản phẩm</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm mới</a>
        </li>
    </ul>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm Loại Sản Phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Thêm Loại Sản Phẩm</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>



<section class="content">
    <!-- Default box -->
   @Html.Action("Partial_AddProductCategory", "ProductCategory")


</section>



@section  scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
        });
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                document.getElementById(field).value = fileUrl;
            };
            finder.popup();
        }



        function handleImageSelection(files) {
            var tbody = document.getElementById('tbHtml');
            tbody.innerHTML = ''; // Xóa nội dung cũ

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var reader = new FileReader();

                reader.onload = (function (file) {
                    return function (event) {
                        var imageData = event.target.result;
                        var byteData = convertImageDataToByteArray(imageData);
                        addImageRow(file.name, imageData, byteData);
                    };
                })(file);

                reader.readAsDataURL(file);
            }
        }

        function convertImageDataToByteArray(imageData) {
            // Chuyển đổi dữ liệu ảnh sang byte array tại đây và trả về
        }

        function addImageRow(fileName, imageData, byteData) {
            var tbody = document.getElementById('tbHtml');
            var row = tbody.insertRow();
            var count = tbody.getElementsByTagName('tr').length;

            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);

            cell1.innerHTML = count;
            cell2.innerHTML = '<img src="' + imageData + '" style="max-width:100px; max-height:100px;" />';
            cell3.innerHTML = '<input type="checkbox" name="isFeatured" />';
            cell4.innerHTML = '<button class="btn btn-danger" onclick="deleteImage(this)">Xóa</button>';

            // Lưu trữ byteData tại đây hoặc gửi nó đến máy chủ
        }



    </script>
}





