@model WebSite_CuaHangDienThoai.Models.tb_Customer
@{
    ViewBag.Title = "Tin nhắn";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Content/Loading.css" rel="stylesheet" />
<link href="~/Content/Css/Client/chat.css" rel="stylesheet" />
<br />
<br />
<br />
<br />
<main class="content">
    <div class="container p-5">
        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-lg-12 col-xl-12">
                    <div class="py-2 px-4 border-bottom d-none d-lg-block">
                        <div class="d-flex align-items-center py-1">
                            <div class="position-relative">
                                <img src="~/images/Logo/LogoWeb.png" class="rounded-circle mr-1" alt="Logo" width="80" height="70" />
                            </div>
                            <div class="flex-grow-1 pl-3">
                                <strong>Hỗ trợ tư vấn</strong>
                                <div class="text-muted "><a href="/trang-chu" style="color: red; font-family: Poppins-Regular; ">LTD<span style="color: black; font-family: Poppins-Regular; ">MiniStore</span></a></div>
                            </div>
                        </div>
                    </div>
                    @*<div class="loading-spinner" id="loadingSpinner" style="display: none;"></div>*@
                    <div id="loadContenMess" data-id="@Model.CustomerId" style="overflow-y: auto; max-height: 600px; scroll-behavior: smooth;">
                    </div>
                    <div class="flex-grow-0 py-3 px-4 border-top">
                        <div class="input-group">
                            <textarea class="form-control" id="ContentMess" placeholder="Nội dung hỏi"></textarea>
                            <button class="btn btn-primary btnSendMess" data-id="@Model.CustomerId">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.signalr/2.4.2/jquery.signalr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    var customerId = '@Model.CustomerId';
    var sendingMessage = false; // Biến để kiểm tra xem có đang gửi tin nhắn hay không


    function loadPartialContent(id) {
       
        $('#loadingSpinner').show();
        $.ajax({
            url: '/Chat/Partial_ContentMess/' + id,
            type: 'GET',
            data: { id: id },
            success: function (result) {
                $('#loadContenMess').html(result);
                scrollToBottom(); // Cuộn xuống dưới cùng sau khi tải tin nhắn mới
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function scrollToBottom() {
        var chatMessages = document.getElementById("loadContenMess");
        if (chatMessages) {
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }
    }

    $(document).ready(function () {
        loadPartialContent(customerId);

        setInterval(function () {
            loadPartialContent(customerId);
        }, 1000);

        window.onload = function () {
            scrollToBottom();
        };

        $('.btnSendMess').click(function () {
            if (sendingMessage) {
                return; // Nếu đang gửi tin nhắn thì không làm gì cả
            }

            var content = $('#ContentMess').val();

            // Kiểm tra và gửi tin nhắn
            if (!customerId) {
                Swal.fire({
                    icon: "error",
                    title: "Hết hàng...",
                    text: "Khách hàng không hợp lệ"
                });

                setTimeout(function () {
                    window.location.href = '/dang-nhap'; // Chuyển hướng đến trang đăng nhập
                }, 2000);

                return;
            }

            if (!content) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi...",
                    text: "Nội dung tin nhắn không được để trống"
                });
                return;
            }

            // Đánh dấu đang gửi tin nhắn
            sendingMessage = true;
            $('#loadingSpinner').show(); // Hiển thị biểu tượng loading

            // Gửi tin nhắn
            sendMessage(customerId, content);
        });
    });

    function sendMessage(customerId, content) {
        $.ajax({
            url: '/Chat/SentMess',
            type: 'POST',
            data: { id: customerId, content: content },
            success: function (response) {
                console.log('Tin nhắn đã được gửi đi.');
                loadPartialContent(customerId);
                $('#ContentMess').val('');
                sendingMessage = false;
                $('#loadingSpinner').hide(); // Ẩn biểu tượng loading
            },
            error: function (xhr, status, error) {
                console.error('Đã xảy ra lỗi khi gửi tin nhắn:', error);
                sendingMessage = false;
                $('#loadingSpinner').hide(); // Ẩn biểu tượng loading
            }
        });
    }
</script>
